<div class="container">
    <div class="row">
        <div class="col-md-2 offset-md-10">
            <ol class="breadcrumb">
                <li> <a [routerLink]="['/posts']">Back</a></li>
                <li class="active">{{post?.title}}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <img src="{{post?.pathToImg}}" alt="Post img">
                <div class="caption">
                    <h2>{{post?.title}}</h2>
                    <small><b>{{MomentJsConverter(post?.created_at)}}</b></small>
                    <p>{{post?.body}}</p>
                </div>
        </div>
    </div>
</div>