<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <div class="form-group"
                 [ngClass]="{'has-error':!loginForm.controls['email'].valid && loginForm.controls['email'].touched }">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                       placeholder="Enter email"
                       formControlName="email">
            </div>
            <div class="form-group"
                 [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password"
                       placeholder="Enter password"
                       formControlName="password">
            </div>

            <div *ngIf="messageError!='' "class="alert alert-danger">{{messageError}}</div>
            <div *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched" class="alert alert-danger">Email field is required.</div>
            <div *ngIf="loginForm.controls['email'].hasError('email') && loginForm.controls['email'].touched" class="alert alert-danger">Your email address is not valid.</div>
            <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert alert-danger">Password field is required.</div>
            <div *ngIf="loginForm.controls['password'].hasError('minlength') && loginForm.controls['password'].touched" class="alert alert-danger">Your password must be at least 4 characters.</div>

            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>