<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form [formGroup]="createPostForm" (ngSubmit)="onSubmit(createPostForm.value)">
            <div class="form-group"
                 [ngClass]="{'has-error':!createPostForm.controls['title'].valid && createPostForm.controls['title'].touched }">
                <label for="title">Post title</label>
                <input type="text" class="form-control" id="title"
                       placeholder="Post title"
                       formControlName="title">
            </div>
            <div class="form-group"
                 [ngClass]="{'has-error':!createPostForm.controls['body'].valid && createPostForm.controls['body'].touched}">
                <label for="body">Post body</label>
                <textarea placeholder="Post body" class="form-control" id="body" formControlName="body"
                          rows="5"></textarea>
            </div>
            <div class="form-group">
                <label for="body">Post image</label>
                <input type="file" (change)="fileChange($event)" placeholder="Upload file">
            </div>


            <div *ngIf="createPostForm.controls['title'].hasError('required') && createPostForm.controls['title'].touched"
                 class="alert alert-danger">Post title field is required.
            </div>
            <div *ngIf="createPostForm.controls['body'].hasError('required') && createPostForm.controls['body'].touched"
                 class="alert alert-danger">Post body field is required.
            </div>

            <button type="submit" [disabled]="!createPostForm.valid" class="btn btn-primary">Create post</button>
        </form>
    </div>
</div>