<table class="table table-hover">
    <thead>
    <tr>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <td>{{user.email}}</td>
        <td>
            <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
        </td>
        <!--<td>{{user.id}}</td>-->
    </tr>

    </tbody>
</table>
