<div class="container header-buttons">
    <div class="row">
        <div class="btn-group">
            <button class="btn btn-primary btn-lg" type="button" (click)="onCreatePosts()">
                Create post
            </button>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let post of posts">
            <div class="thumbnail" (click)="ViewPost(post.id)">
                <img class="img-view" src="{{post.pathToImg}}" alt="post Image">
                <div class="caption">
                    <h3>{{post.title}}</h3>
                    <p>{{LimitText(post.body)}}</p>
                    <small><b>{{MomentJsConverter(post.created_at)}}</b></small>
                    <div *ngIf="isPostOwner(post.user_id) || isAdmin()">
                        <button class="btn btn-primary btn-sm post-btn-position" (click)="onUpdate(post)" role="button">
                            Update
                        </button>
                        <button class="btn btn-danger btn-sm " (click)="onDelete(post.id)" role="button">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
