<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">Angular Developing</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li *ngIf="!isAuth()"><a [routerLink]="['/registration']">Registration</a></li>
                <li *ngIf="!isAuth()"><a [routerLink]="['/login']">Login</a></li>
                <li *ngIf="isAuth()"><a [routerLink]="['/posts']">Posts</a></li>

                <!--<li *ngIf="isAuth()"><a [routerLink]="['/protectedExample']">ProtectedComponent</a></li>-->

                <li *ngIf="user.role=='admin'&& isAuth()"><a [routerLink]="['/dashboard']">Admin Panel</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right" *ngIf="isAuth()">
                <li class="dropdown" app-dropdown>
                    <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                        {{user.email}}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a (click)="logOut()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>