<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form [formGroup]="updatePostForm" (ngSubmit)="onSubmit(updatePostForm.value)">
            <div class="form-group"
                 [ngClass]="{'has-error':!updatePostForm.controls['title'].valid && updatePostForm.controls['title'].touched }">
                <label for="title">Post title</label>
                <input type="text" class="form-control" id="title"
                       placeholder="Post title"
                       formControlName="title">
            </div>
            <div class="form-group"
                 [ngClass]="{'has-error':!updatePostForm.controls['body'].valid && updatePostForm.controls['body'].touched}">
                <label for="body">Post body</label>
                <textarea placeholder="Post body" class="form-control" id="body" formControlName="body"
                          formControlValue="post?.body"
                          rows="5"> </textarea>
            </div>
            <div *ngIf="checkImgSource(post?.pathToImg) && !showUploadImg"
                 class="alert alert-info">You have default img from server.
            </div>
            <div class="form-group" *ngIf="!showUploadImg">
                <img class="img-view" src="{{post?.pathToImg}}" alt=" img">
            </div>
            <div class="form-group" *ngIf="!showUploadImg">
                <button class="btn btn-danger btn-delete-position btn-sm" type="button" (click)="onDeleteImg(post?.pathToImg)">Delete image</button>
            </div>

            <div class="form-group" *ngIf="showUploadImg">
                <label for="body">Post image</label>
                <input type="file" (change)="fileChange($event)" placeholder="Upload file">
            </div>


            <div *ngIf="updatePostForm.controls['title'].hasError('required') && updatePostForm.controls['title'].touched"
                 class="alert alert-danger">Post title field is required.
            </div>
            <div *ngIf="updatePostForm.controls['body'].hasError('required') && updatePostForm.controls['body'].touched"
                 class="alert alert-danger">Post body field is required.
            </div>

            <button type="submit" [disabled]="!updatePostForm.valid ||!updatePostForm.touched " class="btn btn-primary">Update post</button>
        </form>
    </div>
</div>