<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
      <div class="form-group"
           [ngClass]="{'has-error':!registrationForm.controls['email'].valid && registrationForm.controls['email'].touched }">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
               placeholder="Enter email"
               formControlName="email">
      </div>
      <div class="form-group"
           [ngClass]="{'has-error':!registrationForm.controls['password'].valid && registrationForm.controls['password'].touched}">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
               placeholder="Enter password"
               formControlName="password">
      </div>

      <div *ngIf="messageSuccess!='' "class="alert alert-success">{{messageSuccess}}</div>
      <div *ngIf="messageError!='' "class="alert alert-danger">{{messageError}}</div>

      <div *ngIf="registrationForm.controls['email'].hasError('required') && registrationForm.controls['email'].touched" class="alert alert-danger">Email field is required.</div>
      <div *ngIf="registrationForm.controls['email'].hasError('email') && registrationForm.controls['email'].touched" class="alert alert-danger">Your email address is not valid.</div>
      <div *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched" class="alert alert-danger">Password field is required.</div>
      <div *ngIf="registrationForm.controls['password'].hasError('minlength') && registrationForm.controls['password'].touched" class="alert alert-danger">Your password must be at least 4 characters.</div>

      <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-primary">Registration</button>
    </form>
  </div>
</div>